@font-face {
    font-family: spooky;
    src: url('./components/SHLOP.ttf');
}

body {
    background-image: url('https://media.wired.com/photos/593272e226780e6c04d2bd05/master/pass/ghostbusters-ft.jpg');
    font-family: spooky;
}

.App {
    display: flex;
    margin: auto;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
}

.logo {
    width: 70%;
    margin-top: 7vh;
}

nav ul {
    text-align: center;
    list-style-type: none;
    text-decoration: none;
    padding: 0;
}

nav ul li {
    margin-bottom: 3vh;
    margin-top: 3vh;
}

.nav-bar {
    background: rgba(175, 175, 175, 0.5);
    border-radius: 10px;
    margin-left: 10vw;
    height: 60vh;
    width: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a:hover {
    background-color: #ffffff80;
    border-radius: 10px;
    color: rgb(7, 7, 7);
}

a {
    text-decoration: none;
    color: rgb(194, 3, 3);
    padding: 1.5vh;
    margin-bottom: 5vh;
}

.main-content {
    margin-left: 10vw;
    width: 60vw;
    height: 60vh;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}